@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    Welcome, @Username
                    <br />
                    <a href="logout?redirectUri=/">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="login?redirectUri=/">Login</a>
                </NotAuthorized>
            </AuthorizeView>    
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
     private string Username = "";

     [CascadingParameter]
     private Task<AuthenticationState> authenticationStateTask { get; set; }

     protected override async Task OnInitializedAsync()
     {
        var authState = await authenticationStateTask;
        var user = authState.User;

        Username = user.Claims
                    .Where(c => c.Type.Equals("name"))
                    .Select(c => c.Value)
                    .FirstOrDefault() ?? string.Empty;


        await base.OnInitializedAsync();
     }
}